
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Megnevezés</th>
                <th class="text-center">Műveletek</th>
            </tr>
        </thead>
        <tbody>
{{#each groups}}
<tr>
    <th class="text-center">{{this.rowid}}</th>
    <td class="text-center">{{this.description}}</td>
    <td class="text-center">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#{{this.description}}{{this.rowid}}"  data-id={{this.id}}>Szerkesztés</button>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#{{this.description}}{{this.rowid}}{{this.description}}" data-id={{this.id}}>Törlés</button>
    </td>
    </tr>
{{/each}}
</tbody>
    </table>
</div>

{{#each groups}}
<div class="modal" tabindex="-1" role="dialog" id={{this.description}}{{this.rowid}}>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Szerkesztés</h5><br>
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Forbidden characters: Whitespace ! " # % & ' ( ) * + , . / ; < = > @ [ \ ] ^ ` { | } ~</p>
<form method="POST" action="/groupmod">
<label>Description</label>
<input type="hidden" name="identifier" value={{this.identifier}}>
<input type="text" name="new_description" value={{this.description}}><br>

</div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
      </div>
    </div>
  </div>
</div>

{{/each}}
{{#each groups}}
<div class="modal" tabindex="-1" role="dialog" id="{{this.description}}{{this.rowid}}{{this.description}}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Törlés</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <p>Törölve legyen az elem?</p>
       <form method="POST" action="/deletedgroup">
       <input type="hidden" name="rowid" value={{this.rowid}}>
       <input type="hidden" name="identifier" value={{this.identifier}}>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Végleges törlés</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{/each}}
