{{#each inventory}}
<tr>
    <th class="text-center">{{this.id}}</th>
    <td class="text-center">{{this.name}}</td>
    <td class="text-center">{{this.stock}}</td>
    <td class="text-center">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#abc{{this.id}}" data-id={{this.id}}>Szerkesztés</button>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#törlés" data-id={{this.id}}>Törlés</button>
    </td>
</tr>



<div class="modal" tabindex="-1" role="dialog" id="abc{{this.id}}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Szerkesztés</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
<form method="POST" action="/updatedcount">
   <input type="hidden" name="itemname" value={{this.name}}>
    <input type="hidden" name="id" value={{this.id}}>
    <input type="hidden" name="oldcount" value={{this.stock}}>
    <label>Mennyiség: </label>
        <input type="number" name = "itemcount" value= {{this.stock}}>
        
      
</div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{/each}}
<div class="modal" tabindex="-1" role="dialog" id="törlés">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Törlés</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <p>Törölve legyen az elem?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Végleges törlés</button>
      </div>
    </div>
  </div>
</div>